# SOLVE!

name: Build Linux

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - name: Build
        run: cargo build --release

      - uses: actions/upload-artifact@v4
        with:
          name: notepad_app_lin
          path: target/release/notepad_app
